<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<h2>Hero Name: <%= @hero_one.name %></h2>
<span>Hero Power: </span><%= @hero_one.power %><br>
<span>Hero Biography: </span><%= @hero_one.bio %>

<h2>Hero Name: <%= @hero_two.name %></h2>
<span>Hero Power: </span><%= @hero_two.power %><br>
<span>Hero Biography: </span><%= @hero_two.bio %>

<h2>Hero Name: <%= @hero_three.name %></h2>
<span>Hero Power: </span><%= @hero_three.power %><br>
<span>Hero Biography: </span><%= @hero_three.bio %>